body {
    margin: 0;
    font-family: Arial, sans-serif;
}
* {
    box-sizing: content-box;
}
.navbar {
   position: absolute;
   width: 100%;
   margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10;
    color: rgb(25, 3, 108);
    padding: 10px 20px;

    
}
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.6);
    color: rgb(69, 68, 109);
    font-size: 16px;
    font-weight: bold;
    z-index: 10;
}

.nav-links a:hover {
    color: #ebb450; /*korostusväri linkin päällä*/
}
.logo-image {
    width: 100px;
    margin-top: 10px;
}

.logo-image a:hover {
    box-shadow: 10px 10px 1px rgba(235, 180, 80, 0.6);
}
.palvelut {
    margin-right: 25px;
    color: rgb(69, 68, 109);
    
}
.coaching {
    margin-right: 25px;
    color: rgb(69, 68, 109);
    
}
.referenssit {
    margin-right: 25px;
    color: rgb(69, 68, 109);
    
}
.valmentajasi {
    margin-right: 25px;
    color: rgb(69, 68, 109);
   
}
.yhteystiedot {
    margin-right: 25px;
    color: rgb(69, 68, 109);
}
.hero-section {
    position: relative;
    height: 100vh;
    background-image: url("../images/kansicanvas.jpg");
background-size: cover;
background-position: center;
z-index: 1;
}
.hero-image {
    display: none;
   

   
}